// Color Variables
$primary-color: #231F8E;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #EDF6F5;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';